*{
    color: rgb(53, 76, 53);
    padding:0;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    margin-top: 5vw;
    font-weight: 800;

}
body{
    background-color:whitesmoke;
}


.intro{
    margin:2vw 0 0 2vw;
    font-weight: 700;
}
a{

    text-decoration: none;
}
.projects h2{
    font-weight: 800;
    margin-top: 4vw;
}
.container{
    margin: 4vw 0;
}
.projects{
    display: flex;
    flex-direction: column;
    margin: 0 2vw;
}
.web{
    width: 100%;
    height: 6vw;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(53, 76, 53);
}
.contact{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
 
    height: 5vw;
    width: 12vw;
    background-color: rgb(53, 76, 53);
    margin:0 0 2vw 2vw;
    gap:1vw;
    border-radius: 45px;

}
@media (max-width: 600px){
.web{
    width: 100%;
    height: 18vw;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(53, 76, 53);

}
.contact{
    margin:0 0 6vw 6vw;
    height: 15vw;
    width: 40vw;
    gap:3vw;

}
 

}

